<!-- <p>exam-selection works!</p> -->

<app-menu-bar></app-menu-bar>

<!-- <header id="grad1">
<div class="square">
    <div class="content">
        <p>JAVA</p><br>
        <button class="button" value="java" (click) = "register()" (click)="selection(102)">Register</button>
    </div>
</div>
<div class="square">
    <div class="content">
        <p>PYTHON</p><br>
        <button class="button" value="python" (click)="selection(102)">Register</button>
    </div>
</div>
<div class="square">
    <div class="content">
        <p>.NET</p><br>
        <button class="button" value=".net" (click)="selection(103)">Register</button>
    </div>
</div>
<div class="square">
    <div class="content">
        <p>C</p><br>
        <button class="button" value="c" (click)="selection(104)">Register</button>
    </div>
</div>
<div class="square">
    <div class="content">
        <p>PHP</p><br>
        <button class="button" value="php" (click)="selection(105)">Register</button>
    </div>
</div>

<div class="square">
    <div class="content">
        <p>C++</p><br>
        <button class="button" value="c++" (click)="selection(106)">Register</button>
    </div>
</div> -->

<div class="bg">
<div class="container p-5">
  <div class="row p-5">
    <div class="content col-lg card">
      <p class="display-3">JAVA</p>
      <br />
      <div class="card-text mb-3">
        <button
          class="button btn btn-primary btn-lg"
          value="java"
          (click)="selection(101)"
        >
          Register
        </button>
      </div>
    </div>
    <div class="content col-lg card">
      <p class="display-3">PYTHON</p>
      <br />
      <div class="card-text mb-3">
        <button
          class="button btn btn-primary btn-lg"
          value="python"
          (click)="selection(102)"
        >
          Register
        </button>
      </div>
    </div>
    <div class="content col-lg card">
      <p class="display-3">.NET</p>
      <br />
      <div class="card-text mb-3">
        <button
          class="button btn btn-primary btn-lg"
          value=".net"
          (click)="selection(103)"
        >
          Register
        </button>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="content col-lg card">
      <p class="display-3">C</p>
      <br />
      <div class="card-text mb-3">
        <button
          class="button btn btn-primary btn-lg"
          value="c"
          (click)="selection(104)"
        >
          Register
        </button>
      </div>
    </div>
    <div class="content col-lg card">
      <p class="display-3">PHP</p>
      <br />
      <div class="card-text mb-3">
        <button
          class="button btn btn-primary btn-lg"
          value="php"
          (click)="selection(105)"
        >
          Register
        </button>
      </div>
    </div>
    <div class="content col-lg card">
      <p class="display-3">C++</p>
      <br />
      <div class="card-text mb-3">
        <button
          class="button btn btn-primary btn-lg"
          value="c++"
          (click)="selection(106)"
        >
          Register
        </button>
      </div>
     
    </div>
  </div >
  <button
           
  class="button btn btn-lg btn-success ml-20"
  routerLink="/user_report"
  
>
Report
</button>
</div>
</div>
