<!-- <p>admin-dashboard works!</p> -->


<app-menu-bar></app-menu-bar>
<!-- <header id="grad1">

  <div class="card text-center" id="grad1">
    <div class="card-body">
      <h5 class="card-title">Add/Remove Question Section</h5>
      <p class="card-text">You can add and remove questions for any particular course.</p><br>
        <a href="add_question" class="btn btn-success">Add Question</a>&nbsp;&nbsp;&nbsp;
        <a href="remove_question" class="btn btn-danger">Remove Question</a><br><br><br>
        <img class="bg" src="assets\images\admin-ds.jpg">
    </div>

  </div> -->












<div class="bg">
  <div class="container p-5">
    <div class="row">
      <div class="col">
        <div class="">
          <div class="card-body">
            <h5 class="card-title display-1">Add Question</h5>
            <hr />
            <h3 class="card-text font-weight-light">
              You can add  questions for any particular course <br />
              <br />
            </h3>
            <a href="add_question" class="button btn btn-dark">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" ">
          <div class="card-body">
            <h5 class="card-title display-1">Remove Question</h5>
            <hr />
            <h3 class="card-text font-weight-light">
              You can remove questions for any particular course<br />
              <br />
            </h3>

            <a href="remove_question" class="button btn btn-dark">Click Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



