<!-- <p>add-question works!</p> -->


<app-menu-bar></app-menu-bar>
<!-- <div >

  <img class="addimg" src="assets\images\white-question.webp" style="width: 1000px">
<div class=add>
<form  [formGroup]="form1" (ngSubmit)="addingQuestion()" style="width: 500px; margin: auto;">
    <div class="form-group">
      <h3>ADD QUESTION</h3>

        <label for="course_id">Course</label>
        <select name="course_id" id="course_id" [(ngModel)]=addQuestion.courseId class="form-control" formControlName="course_id">
          <option value="101">Java</option>
          <option value="102">Python</option>
          <option value="103">.Net</option>
          <option value="104">C</option>
          <option value="105">Php</option>
          <option value="106">C++</option>
        </select>
        Level : <input type="number" name="level_id" [(ngModel)]=addQuestion.levelId class="form-control" formControlName="level_id" >
        <div *ngIf="form1.get('level_id').touched">
          <div *ngIf="form1.get('level_id').hasError('required')" class="alert alert-danger">
              Please Enter Level
          </div>
        </div>
        Question : <input type="text" name="question" [(ngModel)]=addQuestion.question class="form-control" formControlName="question" >
        <div *ngIf="form1.get('question').touched">
          <div *ngIf="form1.get('question').hasError('required')" class="alert alert-danger">
              Please Enter Question
          </div>
        </div>
        Option 1 : <input type="text" name="option_1" [(ngModel)]=addQuestion.option_1 class="form-control" formControlName="option_1" >
        <div *ngIf="form1.get('option_1').touched">
          <div *ngIf="form1.get('option_1').hasError('required')" class="alert alert-danger">
              Please Enter Option
          </div>
        </div>
        Option 2 : <input type="text" name="option_2" [(ngModel)]=addQuestion.option_2 class="form-control" formControlName="option_2" >
        <div *ngIf="form1.get('option_2').touched">
          <div *ngIf="form1.get('option_2').hasError('required')" class="alert alert-danger">
              Please Enter Option
          </div>
        </div>
        Option 3 : <input type="text" name="option_3" [(ngModel)]=addQuestion.option_3 class="form-control" formControlName="option_3" >
        <div *ngIf="form1.get('option_3').touched">
          <div *ngIf="form1.get('option_3').hasError('required')" class="alert alert-danger">
              Please Enter Option
          </div>
        </div>
        Option 4 : <input type="text" name="option_4" [(ngModel)]=addQuestion.option_4 class="form-control" formControlName="option_4" >
        <div *ngIf="form1.get('option_4').touched">
          <div *ngIf="form1.get('option_4').hasError('required')" class="alert alert-danger">
              Please Enter Option
          </div>
        </div>
        Correct Answer:<input type="text" name="correct_option" [(ngModel)]=addQuestion.correct_option class="form-control" formControlName="correct_option" >
        <div *ngIf="form1.get('correct_option').touched">
          <div *ngIf="form1.get('correct_option').hasError('required')" class="alert alert-danger">
              Please Enter Correct Answer
          </div>
        </div>
    </div>
    <button type="submit" class="button">Add Question</button>
  </form>
</div>
</div> -->

<div class="row">
  <div class="col-6">
    <img src="assets\images\user.png">
  </div>
        <div class="col-6">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add Question</h2>

              <form
                [formGroup]="form1"
                method="post"
                action=" "
                
              >
                <div class="form-group">
                  <div class="form-outline mb-4">
                    <select required
                      name="course_id"
                      id="course_id"
                      [(ngModel)]="addQuestion.courseId"
                      class="form-control"
                      formControlName="course_id"
                    >
                      <option value="undefined" disabled selected>Select the course </option>
                      <option value="101" selected>Java</option>
                      <option value="102">Python</option>
                      <option value="103">.Net</option>
                      <option value="104">C</option>
                      <option value="105">Php</option>
                      <option value="106">C++</option>
                    </select>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="number"
                      name="level_id"
                      [(ngModel)]="addQuestion.levelId"
                      class="form-control"
                      formControlName="level_id"
                      placeholder="Level"
                    />
                  </div>
                  <div *ngIf="form1.get('level_id').touched">
                    <div
                      *ngIf="form1.get('level_id').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Level
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="question"
                      [(ngModel)]="addQuestion.question"
                      class="form-control"
                      formControlName="question"
                      placeholder="Add question"
                    />
                  </div>
                  <div *ngIf="form1.get('question').touched">
                    <div
                      *ngIf="form1.get('question').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Question
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="option_1"
                      [(ngModel)]="addQuestion.option_1"
                      class="form-control"
                      formControlName="option_1"
                      placeholder="Option 1"
                    />
                  </div>
                  <div *ngIf="form1.get('option_1').touched">
                    <div
                      *ngIf="form1.get('option_1').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Option
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="option_2"
                      [(ngModel)]="addQuestion.option_2"
                      class="form-control"
                      formControlName="option_2"
                      placeholder="Option 2"
                    />
                  </div>
                  <div *ngIf="form1.get('option_2').touched">
                    <div
                      *ngIf="form1.get('option_2').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Option
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="option_3"
                      [(ngModel)]="addQuestion.option_3"
                      class="form-control"
                      formControlName="option_3"
                      placeholder="Option 3"
                    />
                  </div>
                  <div *ngIf="form1.get('option_3').touched">
                    <div
                      *ngIf="form1.get('option_3').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Option
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="option_4"
                      [(ngModel)]="addQuestion.option_4"
                      class="form-control"
                      formControlName="option_4"
                      placeholder="Option 4"
                    />
                  </div>
                  <div *ngIf="form1.get('option_4').touched">
                    <div
                      *ngIf="form1.get('option_4').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Option
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="correct_option"
                      [(ngModel)]="addQuestion.correct_option"
                      class="form-control"
                      formControlName="correct_option"
                      placeholder="Enter Correct Option"
                    />
                  </div>
                  <div *ngIf="form1.get('correct_option').touched">
                    <div
                      *ngIf="form1.get('correct_option').hasError('required')"
                      class="alert alert-danger"
                    >
                      Please Enter Option
                    </div>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn btn1 btn-block btn-lg gradient-custom-4 text-body"
                      (click)="addingQuestion()"
                    >
                      Add Question
                    </button>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button style="margin-top: 5%;"
                      (click)="rld()"
                      class="btn btn1 btn-block btn-lg gradient-custom-4 text-body"
                      
                    >
                      Add Another Question
                    </button>
                  </div> 
                   <hr>
                   <h4 class="text-center">Upload Question File Here</h4>
                  <div class="container">
                    <input  (change)="selectFile($event)" type="file" />
                    <button
                    (click)="sampleFile()"
                    class="btn2 btn-primary" mat-raised-button color="accent">Download Sample File</button>

                    <button
                    (click)="uploadFile()"
                    class="btn2 btn-primary" mat-raised-button color="accent">Upload</button>
                </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>