<!-- <p>user-dashboard works!</p> -->


<app-menu-bar></app-menu-bar>
<!-- <header id="grad1">
<div class="card text-center"id="grad1">
  <div class="card-body">
    <h5 class="card-title" >Exam Section</h5>
    <p class="card-text">Best of luck for your exam!<br>
     </p>
      <a href="exam_selection" class="button">New Exam</a>
  <br><br>
    <h5 class="card-title">Result Section</h5>
    <p class="card-text">You can view your previously attempted exam reports here!<br>
      <br></p>
    <a href="user_report" class="button">See Report</a><br><br>
    <img src="assets\images\home1.jpeg">
  </div>
</div>


 -->
<div class="bg">
<div class="container p-5">
  <div class="row">
    <div class="col">
      <div class="">
        <div class="card-body">
          <h5 class="card-title display-1">Exam Section</h5>
          <hr />
          <h3 class="card-text font-weight-light">
            Choose your exam in the Link below<br />
            Follow the instructions <br />
            <br />
          </h3>
          <a href="exam_selection" class="button btn btn-dark">New Exam</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class=" ">
        <div class="card-body">
          <h5 class="card-title display-1">Result Section</h5>
          <hr />
          <h3 class="card-text font-weight-light">
            You can view your previously attempted exam reports here!<br />
            <br />
          </h3>

          <a href="user_report" class="button btn btn-dark">See Report</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>